.wrap {
    width: 300px;
    font-size: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px 2px gray;
    margin: 15px auto;
    background-color: beige;
}

.mubtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.visible {
    // width: 400px ;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // border: 1px solid gray;
    // box-shadow: 2px 2px 2px 2px greenyellow;
    // margin: 15px auto;
    // background-color: wheat;
    display: block;
}

.hidden {
    display: none;
}
